@charset "utf-8";
/* font */
/* |- font-family: 'EB Garamond', serif; */
/* |- font-family: 'Noto Sans JP', sans-serif; */
/* |- font-family: 'Josefin Sans', sans-serif; */

// 初期化
*, h1, h2, h3, h4, h5, h6, p, a { font-family: 'Noto Sans JP', sans-serif; margin: 0;padding: 0; box-sizing: border-box; }
a { text-decoration: none; letter-spacing: 1.5px; color: #454647; transition: .5s; &:hover { opacity: .7; } }
ul li { list-style: none; letter-spacing: 1.5px; }

// 見出しタイトル
.headTitle {
    font-size: 14px;
    font-weight: 400;
    img {
        height: 10px;
        margin: 0 14px 0 0;
    }
    &::after {
        content: "";
        display: block;
        height: 4px;
        margin: 6px 0 20px;
        background-image: url(../img/common/underline.svg);
        background-repeat: repeat-x;
        background-size: contain;
    }
    @media screen and (min-width:1024px) {
        font-size: 16px;
        img {
            height: 12px;
            margin: 0 16px 0 0;
        }
        &::after {
            height: 4px;
            margin: 8px 0 24px;
        }
    }
}
.sideHeadTitle {
    padding: 0 20px;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    img {
        height: 10px;
        margin: 0 14px 0 0;
    }
    &::after {
        content: "";
        display: block;
        height: 4px;
        margin: 4px 0 20px;
        background-image: url(../img/common/underline.svg);
        background-repeat: repeat-x;
        background-size: contain;
    }
    @media screen and (min-width:768px) {
        padding: 0;
    }
    @media screen and (min-width:1024px) {
        font-size: 16px;
        img {
            height: 12px;
            margin: 0 16px 0 0;
        }
        &::after {
            height: 4px;
            margin: 4px 0 8px;
        }
    }
}

// レイアウト共通
body {
    overflow-x: hidden;
    color: #474645;
    background: #FDFDFD;
    .sp-tab-contents {
        display: block;
    }
    // mainタグ共通処理
    main {
        padding: 0 20px;
        aside.sidebar {
            display: none;
        }
    }
    @media screen and (min-width:768px) {
        main {
            width: 640px;
            margin: 0 auto;
            padding: 0;
        }
    }
    @media screen and (min-width:1024px) {
        .sp-tab-contents {
            display: none;
        }
        main {
            display: flex;
            justify-content: space-between;
            width: 880px;
            margin: 0 auto;
            aside.sidebar {
                display: block;
                width: 24%;
            }
        }
    }
    @media screen and (min-width:1120px) {
        main {
            width: 960px;
            aside.sidebar {
                width: 240px;
            }
        }
    }
}

// 以下WordPress専用スタイル
// currentクラスはactiveの場合自動で入る
.pagenation {
    text-align: center;
    .page-numbers {
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-family: 'EB Garamond', serif;
        color: rgba(70,70,70,.5);
        width: 40px;
        height: 40px;
        padding: 10px 0 0 0;
        border: 1px solid #EBEBEB;
        border-radius: 50%;
    }
    .current {
        color: #fff;
        border: 1px solid #25AEBE;
        background: #25AEBE;
    }
    .prevLink::before {
        content: "";
        display: inline-block;
        background-image: url("../img/common/prev.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        position: relative;
        right: 10px;
        top: 12px;
    }
    .nextLink::after {
        content: "";
        display: inline-block;
        background-image: url("../img/common/next.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        position: relative;
        left: 10px;
        top: 12px;
    }
    .screen-reader-text {
        display: none;
    }
    @media screen and (min-width:1024px) {
        .page-numbers {
            font-size: 20px;
            width: 48px;
            height: 48px;
            padding: 12px 0 0 0;
        }
        .prevLink::before {
            width: 36px;
            height: 36px;
            right: 40px;
        }
        .nextLink::after {
            width: 36px;
            height: 36px;
            left: 40px;
        }
    }
}

// categoryのactiveクラス
.current-cat {
    a {
        color: red;
    }
}

// Instaプラグイン用
// .instaWrapper {
//     width: calc(100% - 50px);
//     margin: 0 auto;
//     .sbi_photo_wrap {
//         margin: 8px;
//     }
// }

// いいねプラグイン用
// .like {
//     display: flex;
//     align-items: center;
//     .wpulike-heart .wp_ulike_general_class {
//         box-shadow: none !important;
//         border-radius: 0 !important;
//         margin:  0 24px 0 0 !important;
//         padding:  0 !important;
//     }
//     .wpulike-heart .count-box {
//         font-size: 16px !important;
//         color: #666 !important;
//         font-weight: 500 !important;
//         padding: 0 !important;
//     }
// }