@charset "UTF-8";
.hero {
  margin: 56px auto 24px;
}

@media screen and (min-width: 1024px) {
  .hero {
    margin: 56px auto 48px;
  }
}

.top {
  margin: 20px auto 0;
}

.top .newsWrapper {
  padding: 0 20px;
}

.top .newsWrapper h3 {
  font-size: 14px;
  font-weight: 400;
}

.top .newsWrapper h3 img {
  height: 10px;
  margin: 0 14px 0 0;
}

.top .newsWrapper h3::after {
  content: "";
  display: block;
  height: 4px;
  margin: 6px 0 20px;
  background-image: url(../img/common/underline.svg);
  background-repeat: repeat-x;
  background-size: contain;
}

.top .newsWrapper .newsItems .newsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #EBEBEB;
}

.top .newsWrapper .newsItems .newsItem .newsItemImage {
  width: 100px;
  height: 68px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top .newsWrapper .newsItems .newsItem .newsItemText {
  width: 220px;
}

.top .newsWrapper .newsItems .newsItem .newsItemText .title {
  display: block;
  text-align: justify;
  font-size: 12px;
  line-height: 1.7;
  margin: 0 0 16px 0;
}

.top .newsWrapper .newsItems .newsItem .newsItemText .newsItemUnder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top .newsWrapper .newsItems .newsItem .newsItemText .newsItemUnder .left-newsItemUnder p {
  font-size: 10px;
}

.top .newsWrapper .newsItems .newsItem .newsItemText .newsItemUnder .left-newsItemUnder p::before {
  content: "●";
  margin: 0 4px 0 0;
}

.top .newsWrapper .newsItems .newsItem .newsItemText .newsItemUnder .left-newsItemUnder .event_tag::before {
  color: #99BB05;
}

.top .newsWrapper .newsItems .newsItem .newsItemText .newsItemUnder .left-newsItemUnder .gourmets_tag::before {
  color: #EE9E30;
}

.top .newsWrapper .newsItems .newsItem .newsItemText .newsItemUnder .left-newsItemUnder .shop_tag::before {
  color: #2974ED;
}

.top .newsWrapper .newsItems .newsItem .newsItemText .newsItemUnder .left-newsItemUnder .sweets_tag::before {
  color: #22C9DE;
}

.top .newsWrapper .newsItems .newsItem .newsItemText .newsItemUnder .left-newsItemUnder .news_tag::before {
  color: #25AEBE;
}

.top .newsWrapper .newsItems .newsItem .newsItemText .newsItemUnder .left-newsItemUnder .family_tag::before {
  color: #E66616;
}

.top .newsWrapper .newsItems .newsItem .newsItemText .newsItemUnder .left-newsItemUnder .lunch_tag::before {
  color: #F4D217;
}

.top .newsWrapper .newsItems .newsItem .newsItemText .newsItemUnder .left-newsItemUnder .weekend_tag::before {
  color: #AB76CC;
}

.top .newsWrapper .newsItems .newsItem .newsItemText .newsItemUnder .left-newsItemUnder .features_tag::before {
  color: #BB7777;
}

.top .newsWrapper .newsItems .newsItem .newsItemText .newsItemUnder .right-newsItemUnder .timestamp {
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .top .newsWrapper {
    width: 640px;
    margin: 0 auto;
    padding: 0;
  }
  .top .newsWrapper .newsItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0 0 24px 0;
  }
  .top .newsWrapper .newsItems .newsItem {
    display: block;
    width: 30%;
    margin: 0 0 40px 0;
    padding: 0;
    border-bottom: none;
  }
  .top .newsWrapper .newsItems .newsItem .newsItemImage {
    width: 100%;
    height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 0 12px 0;
  }
  .top .newsWrapper .newsItems .newsItem .newsItemText {
    width: 100%;
  }
  .top .newsWrapper .newsItems .newsItem .newsItemText .title {
    margin: 0 0 12px 0;
  }
  .top .newsWrapper .newsItems::after {
    display: block;
    content: "";
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .top .newsWrapper {
    width: 600px;
    margin: 0 auto;
    padding: 0;
  }
  .top .newsWrapper h3 {
    font-size: 16px;
  }
  .top .newsWrapper h3 img {
    height: 12px;
    margin: 0 16px 0 0;
  }
  .top .newsWrapper h3::after {
    height: 4px;
    margin: 8px 0 24px;
  }
  .top .newsWrapper .newsItems .newsItem {
    width: 30%;
    margin: 0 0 40px 0;
    padding: 0;
    border-bottom: none;
  }
  .top .newsWrapper .newsItems::after {
    width: 30%;
  }
}

@media screen and (min-width: 1120px) {
  .top .newsWrapper {
    width: 640px;
  }
  .top .newsWrapper .newsItems .newsItem {
    width: 200px;
  }
  .top .newsWrapper .newsItems::after {
    width: 200px;
  }
}
/*# sourceMappingURL=top.css.map */